* {
    font-family: sans-serif;
}
h1 {
    color: #007bff;
}
.header-link {
    color: #000;
    text-decoration: none;
}
.header-link:hover {
    color: #343a40;  
    text-decoration: none;
} 
#cartItemCount {
    top: -10px; 
    right: -6px; 
    border-radius: 50%;
    font-size: 0.7rem;
    font-weight: 500;
}

.btn-view-details, .btn-add-to-cart{
    font-size: 0.8rem;
    padding: 5px;

}
.nav-item .nav-link{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600; 
    color: #000 !important;
}

.nav-item .nav-link:hover{
    color: #343a40 !important;
}
.fa-shopping-cart{
    font-size: 1.4rem;
}
/* CSS cho buttons */
.button-size {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.button-size.selected {
    border-color: red;
}
#productPrice {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
}
#productName {
    font-size: 1.2rem;
}
#productDescription{
    color:#343a40;
}
.product-single__policy{
    margin: 40px 15px;
}
.product-policy__icon {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50px; 
}

.product-policy__icon i {
    color: red; 
    font-size: 1.2rem; 
}
.product-policy__title {
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 100%; 
}
#addToCartBtn {
    background-color: transparent; 
    border: 1px solid red; 
    color: red; 
    font-size: 16px; 
    border-radius: 0; 
}

#addToCartBtn:hover {
    background-color: red; 
    color: white; 
}
#relativeProductContainer{
    margin: 20px 0;
}
.btn-transparent {
    background-color: transparent;
    border-color: transparent;
    color: inherit; 
}
.btn-transparent:hover {
    color: red; 
}
#checkoutBtn{
    background-color: transparent; 
    border: 1px solid green; 
    color: green; 
    font-size: 16px; 
    border-radius: 0; 
}
#checkoutBtn:hover {
    background-color: green; 
    color: white; 
}
#btn-order{
    background-color: transparent; 
    border: 1px solid blue; 
    color: blue; 
    font-size: 16px; 
    border-radius: 0; 
}
#btn-order:hover {
    background-color: blue; 
    color: white; 
}